<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div th:replace="fragments :: bootstrap_css"></div>
<div th:replace="fragments :: navbar"></div>
    <div class="container">
        <h2>Welcome</h2>
        <div class="w3-container">
            <h2>W3.CSS Modal</h2>
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Modal</button>

            <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container">
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                        <p>Some text. Some text. Some text.</p>
                        <p>Some text. Some text. Some text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="fragments :: bootstrap_js"></div>
</body>
</html>